[submodule "public"]
	path = public
	url = git@github.com:kavenc/kavenc.github.io.git
	branch = master
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
